    <%# <div class="ui top right toast-container">
        <div class="toast-box compact visible transition">
            <div class="icon info ui toast">
                <i class="icon info"></i>
                <div class="content">
                </div>
            </div>
        </div>
    </div> %>
    <script src="/lib/jQuery.3.1.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <%# <script src="/lib/semantic/dist/components/transition.min.js"></script>
    <script src="/lib/semantic/dist/components/toast.min.js"></script> %>
</body>
</html>