<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap/css/custom-bootstrap.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/button.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/card.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/comment.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/modal.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/rating.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/statistic.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/rail.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/sticky.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/toast.min.css">
    <link rel="stylesheet" href="/lib/semantic/dist/components/transition.css">
    <link rel="stylesheet" href="/lib/chartist/chartist.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/solid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway:100,200,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap" rel="stylesheet">
    <title>YelpCamp</title>
</head>

<body>
    <div class="container">
        <% if(alert && alert.length > 0){ %>
        <div class="alert alert-danger alert-dismissable fade show mt-3" role="alert">
            <%= alert %>  
            <button class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success alert-dismissable fade show mt-3" role="alert">
            <%= success %>  
            <button class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
    </div>
    
    
