<% include ../partials/header %>

<div class="container">
    <div class="text-center">
        <h1>Edit Comment</h1>
    </div>
    <form action="/campgrounds/<%= campground %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="mt-5 form">
    <div class="form-group">
    <label for="comment">Comment</label>
        <input type="text" name="comment[content]" placeholder="Comment Here" class="form-control" value="<%= comment.content%>">
    </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../partials/footer %>