body {
	overflow-x: hidden;
	font-family: Raleway, sans-serif;
}

::selection {
	color: white;
	background: #f3caa9;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #eaab77;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #f3c59f;
}

::-webkit-scrollbar-track {
	background: rgba(48, 48, 48);
}

.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	transition: background-color ease-out 0.2s;
}

.navbar-background {
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar-toggler {
	border: none;
}

.nav-link {
	font-weight: 400;
	font-size: 24px;
	transition: border-bottom linear 0.1s;
	transition: font-weight linear 0.1s;
}

.nav-link:hover {
	cursor: pointer;
	font-weight: 400;
	font-size: 24px;
	border-bottom: 1px solid white;
}

.form {
	min-width: 300px;
	width: 35%;
	margin: 20px auto;
}

.banner {
	transition: min-height linear 0.1s;
	background: url("https://i.ibb.co/gb0Rst2/index.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 350px;
}

.headerButton {
	border-radius: 50px;
	font-size: 18px;
	color: aliceblue;
}

a {
	color: #eaab77;
}

a:hover {
	color: #d19a6c;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='submit'] {
	border-radius: 10px;
}

input[type='submit'] {
	color: white;
}

.modal-body p {
	font-family: Questrial, sans-serif;
	font-size: 19px;
	font-weight: 100;
}

.modalBtn {
	border-radius: 50px;
}

@media (max-width: 768px) {
	.nav-link:hover {
		border-bottom: none;
	}
}

@media (max-width: 768px) {
	.banner {
		min-height: 400px;
	}
}
