body{
    overflow-x: hidden;
    user-select: none;
    font-family: Raleway, sans-serif;
}

.navbar{
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-brand{
    font-weight: 100;
}

.nav-link{
    font-weight: 100;
    font-size: 24px;
}

.nav-link:hover{
    font-weight: 200;
    font-size: 24px;
    border-bottom: 1px solid white;
}

.form{
    min-width: 300px;
    width: 35%;
    margin: 20px auto;
}

.banner{
    background-image: url('../images/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 330px;
}

.banner .overlay {
    z-index: 0;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; } */
}

#campgroundDesc{
    text-align: justify;    
}

#newSite{
    border-radius: 50px;
    background-color: #eaab77;
    border-color: #eaab77;
    font-size: 18px;
}

input[type='text'], input[type='password'], input[type='number']{
    border-radius: 50px;
}

.authbtn{
    background-color: #eaab77;
    border-color: #eaab77;
    border-radius: 50px;
}

.authbtn:hover{
    background-color: #a77145;
    border-color: #a77145;
}

a{
    color: #eaab77;
}

iframe{
    border-radius: 10px;
}

#showCampDeleteBtn{
    font-size: 18px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #eaab77;
}

#showCampDeleteBtn:hover{
    text-decoration: underline;
}

#showDeleteBtn{
    font-size: 14px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(155, 152, 152);    
}

#gMapLink{
    font-size: 18px;
}

#commentSection{
    margin-bottom: 150px;
}

#commentSubmit{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eaab77;
    color: white;
    font-family: Raleway, sans-serif;
}