/* =====================================================================
    Common
   =====================================================================
*/

body{
    overflow-x: hidden;
    user-select: none;
    font-family: Raleway, sans-serif;
}

::selection{
    color: white;
    background: #f3caa9;
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.nav-link{
    font-weight: 100;
    font-size: 24px;
    transition: border-bottom linear 0.1s;
    transition: font-weight linear 0.1s;
}

.nav-link:hover{
    font-weight: 200;
    font-size: 24px;
    border-bottom: 1px solid white;
}

.form{
    min-width: 300px;
    width: 35%;
    margin: 20px auto;
}

.banner{
    background: url("https://i.ibb.co/gb0Rst2/index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
}

.headerButton{
    border-radius: 50px;
    font-size: 18px;
    color: aliceblue;
}

a{
    color: #eaab77;
}

a:hover{
    color: #d19a6c;
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'], input[type='submit']{
    border-radius: 10px;
}

input[type='submit']{
    color: white
}

/* ==============================================================================
    SHOW PAGE
   ============================================================================== */

#campgroundDesc{
    text-align: justify;    
}

#showCampDeleteBtn{
    font-size: 18px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #eaab77;
}

#showCampDeleteBtn:hover{
    text-decoration: underline;
}

.showDeleteBtn{
    font-size: 14px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: rgb(155, 152, 152);   
    outline: none; 
}

.showDeleteBtn:hover{
    text-decoration: underline;
}

#gMapLink{
    font-size: 18px;
}

#reviewSection{
    margin-bottom: 150px;
}

#reviewBtn{
    color: white;
    border-radius: 50px;
}

.reviewSubmit{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eaab77;
    border-color: #eaab77;
    color: white;
    font-family: Raleway, sans-serif;
}

#reviewEditSubmitBtn{
    background-color: #eaab77;
}

.actions button{
    outline: none;
}