<%include ../partials/header %>
<link rel="stylesheet" href="/lib/semantic/dist/fomantic.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<div>
<div id="formSection">
    <div class="text-center">
        <h1 class="display-4 mt-5 text-white"><i class="fas fa-campground mr-2"></i>Campfire</h1>
    </div>
    <div class="text-center" id="loginForm">
        <h1 class="text-white ">Log In</h1>
        <form action="/login" method="POST" class="mx-5">
            <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="input-group">
            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
            <div class="input-group-append">
            <a class="btn text-white" id="passwordHide"><i class="fas fa-eye-slash eye"></i></a>
            </div>
            </div>
            <button class="btn btn-primary text-white px-4 mb-4 mt-3" id="submitBtn">Submit</button>
        </form>
        <a href="">Forgot Password?</a>
        <p class="d-inline mx-2" id="seperator"> || </p>
        <a href="/register">New Here? Register</a>
    </div>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<script src="/lib/jQuery.3.1.1.min.js"></script>
<script src="/js/password/passwordShowHide.js"></script>
<script src="/lib/semantic/dist/fomantic.min.js"></script>
<% if (alert && alert.length > 0) {%>
<script>
    $('body').toast({
        title: 'Error',
        message: '<%=alert[0]%>',
        class : 'error'
    });
</script>
<% } %>
<% include ../partials/footer %>