<%include ../partials/header %>
<link rel="stylesheet" href="/lib/semantic/dist/fomantic.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<div>
<div id="formSection">
    <div class="float-right text-white">
        <h1 class="m-5"><i class="fas fa-campground"></i>  </h1>
    </div>
    <h1 class="text-white m-5">Sign Up</h1>
    <div class="text-center"id="signUpForm">
        <form action="/register" method="POST" class="mx-5" onsubmit="return validate();">
            <div class="form-group">
            <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" name="contact" placeholder="Contact No." pattern="[1-9]{1}[0-9]{9}" required>
            </div>
            <div class="input-group form-group">
            <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
            <div class="input-group-append">
            <a class="btn text-white" id="passwordHide"><i class="eye fas fa-eye-slash"></i></a>
            </div>
            </div>
            <div class="form-group">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" required>
            </div>
            <button class="btn btn-primary text-white px-4 mb-4 mt-3" id="submitBtn">Submit</button>
        </form>
        <div class="text-center">
        <a href="/login">Already an User? Login</a>
    </div>
</div>
</div>
    
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<script src="/lib/jQuery.3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<script src="/js/password/passwordShowHide.js"></script>
<script src="/js/password/confirmPassword.js"></script>
<script src="/lib/semantic/dist/fomantic.min.js"></script>
<% if (alert && alert.length > 0) {%>
<script>
    $('body').toast({
        title: 'Error',
        message: '<%=alert[0]%>',
        class : 'error'
    });
</script>
<% } %>
<% include ../partials/footer %>