<div class="modal fade" id="confirmLogout" tabindex="-1" role="dialog" aria-labelledby="confirmLogout" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <p>Are you sure you want to logout?</p>
            <div class="float-right">
            <button class="btn btn-secondary px-4 modalBtn" data-dismiss="modal" data-target="confirmLogout">
                Cancel
            </button>
            <a href="/logout" class="btn btn-danger px-4 ml-1 modalBtn">
            Sure
            </a>
            </div>
        </div>
    </div>
  </div>
</div>